.UpScrollChevron {
    width: 20%;
    position: fixed;
    height: 30px;
    top: calc(100vh - 80px);
    background: transparent;
    z-index: 150;
}

.UpScrollChevron img {
    color: whitesmoke;
    height: 30px;
    width: auto;
    background: transparent;
    -webkit-filter: invert(1);
    animation-name: chevronGlow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 0ms;
    animation-duration: 1s;
}

.UpScrollChevron:hover {
    transform: scale(1.5);
    transition-duration: 250ms;
    cursor: pointer;
}

@keyframes chevronGlow {
    from {opacity: 1;}
    to {opacity: 0.25;}
}

@media only screen and (max-width: 500px) {
    .UpScrollChevron {
        top: calc(100vh - 140px);
    }
}