.UpScrollChevron {
    width: 20%;
    position: fixed;
    height: 30px;
    top: calc(100vh - 80px);
    background: transparent;
    z-index: 150;
}

.UpScrollChevron img {
    color: whitesmoke;
    height: 30px;
    width: auto;
    background: transparent;
    opacity: 0.5;
    animation-name: chevronGlow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 2s;
    -webkit-animation-name: chevronGlow;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -moz-animation-name: chevronGlow;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-fill-mode: both;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 2s;
}

.UpScrollChevron:hover {
    transform: scale(1.5);
    transition-duration: 250ms;
    -webkit-transform: scale(1.5);
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.5);
    -moz-transition-duration: 250ms;
    cursor: pointer;
}

@keyframes chevronGlow {
    from {filter: invert(0);}
    to {filter: invert(0.8);}
}

@-webkit-keyframes chevronGlow {
    from {filter: invert(0);}
    to {filter: invert(0.8);}
}

@-moz-keyframes chevronGlow {
    from {filter: invert(0);}
    to {filter: invert(0.8);}
}

@media only screen and (max-width: 500px) {
    .UpScrollChevron {
        top: calc(100vh - 190px);
    }
}