.NavBar {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    transition: 500ms ease-in-out;
    z-index: 9999;
}

.NavBar img {
    height: 40px;
    padding: 0px 15px;
    float: left;
}