.ResumePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: whitesmoke;
    top: 50px;
    left: 0;
    background-color: rgb(25, 25, 25);
}

.ResumePage img {
    height: calc(100vh - 40px);
    width: auto;
}

.ResumePage iframe {
    height: calc(100vh - 45px);
    width: 80%;
    margin-top: 41px;
}

@media only screen and (max-width: 500px) {
    .ResumePage {
        height: calc(100vh - 40px);
    }
    
    .ResumePage img {
        width: 100vw;
        height: auto;
    }
}