.Modal {
    position: fixed;
    z-index: -1;
    background-color: transparent;
    width: 80vw;
    height: 90vh;
    box-shadow: 1px 1px 1px black;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    left: 10%;
    top: 50px;
    transition: all 0.3s ease-out;
}

.Modal iframe {
    width: inherit;
    height: inherit;
}

.Modal button {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 30px;
    color: whitesmoke;
    background: rgba(25, 25, 25, 0.75);
    z-index: 500;
    cursor: pointer;
    border: 1px solid rgba(255, 5, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


@media (max-width: 400px) {
    .Modal {
        width: 90vw;
        left: 5%;
    }
}

/* @media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
} */