.Tile {
    padding: 0;
    margin: 5vw;
    width: 30vw;
    height: 30vw;
    background-color: white;
    display: flex;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px black;
}

.Tile a {
    display: flex;
    width: inherit;
    height: inherit;
}

.Tile img {
    width: inherit;
    margin: auto;
    border-radius: 11px;
}

.Tile:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
    box-shadow: 5px 10px 20px red;
}