.Background {
    display: block;
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/images/BGimg2.jpg');
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Background {
        height: 800px;
    }
} 