.Background {
    display: block;
    /* height: 100vh; */
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/images/BGimg2.jpg');
}

