.Container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.AboutMe {
    height: 90%;
    width: auto;
    margin-top: 10px;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 10px;
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(25, 25, 25);
    align-items: center;
    justify-self: center;
    overflow: scroll;
}

.AboutMe h1 {
    text-decoration: underline;
    margin: 0;
    color: rgb(198, 222, 192);
    font-size: 3.4vmin;
}

.AboutMe p {
    color: whitesmoke;
    font-size: 1.9vmin;
    line-height: 150%;
    text-align: left;
}

@media only screen and (max-width: 800px) {
    .Container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .AboutMe {
        height: 100%;
    }
    .AboutMe h1 {
        font-size: 3.4vmax;
    }
    .AboutMe p {
        font-size: 2vmax;
    }
}