.HeaderText {
    width: 99%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border: 1px solid white;
    margin-top: 400px;
    transform-origin: 0;
    transform: translateZ(3px) scale(0.625);
}