.HeaderText {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    margin-top: 50vh;
    /* transform-origin: 0;
    transform: translateZ(3px) scale(0.625); */
}

.HeaderText h1 {
    color: whitesmoke;
    z-index: 5;
    margin: 10px;
    text-align: center;
    position: relative;
    /* transform-origin: 0;
    transform: translateZ(3px) scale(0.625); */
}