.Header {
    display: flex;
    height: calc(100vh - 40px);
    width: 100%;
    position: relative;
    background-image: url('../../../assets/images/headerImgSpace.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Header h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: whitesmoke;
    z-index: 5;
    margin-top: 30vh;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    width: 90%;
    height: 10vh;
    background-color: rgba(25, 25, 25, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    .Header {
        /* This stops the 'bouncing' of the background image 
            on scroll on mobiles  */
        background-size: auto 220vw;
        background-position: center 0;
    }
}