.Header {
    height: 100vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.Header .Blurb {
    display: flex;
    position: absolute;
    top: 100px;
    margin: 50px;
    height: 80%;
    width: 50%;
    background-color: rgba(222, 222, 222, 0.8);
    border-radius: 3px;
    justify-content: center;
    align-items: flex-start;
}

.Header h1 {
    justify-content: center;
    align-items: center;
    color: rgba(25, 25, 25, 1);
    z-index: 5;
    width: 90%;
    height: auto;
}

.Header img {
    z-index: 10;
    position: absolute;
    filter: invert(1);
    top: 50vh;
    left: 15vw;
    margin: 0px 100px;
}

.fade-in {
    animation: fadeIn ease 20s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media only screen and (max-width: 500px) {
    .Header {
        /* This stops the 'bouncing' of the background image 
            on scroll on mobiles  */
        background-size: auto 220vw;
        background-position: center 0;
    }

    /* .Header img {
        position: absolute;
        top: 0;
        margin-top: 15vh;
        z-index: 10;
        opacity: 1;
        width: 35vw;
        border: 1px solid rgba(25, 25, 25, 1);
        border-radius: 35vw;
    } */
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .Header {
        /* This stops the 'bouncing' of the background image 
            on scroll on mobiles  */
        background-size: auto 220vw;
        background-position: center 0;
    }

    /* .Header img {
        position: absolute;
        top: 15vh;
        z-index: 10;
        opacity: 1;
        width: 25vw;
        border: 1px solid rgba(25, 25, 25, 1);
        border-radius: 25vw;
    } */
}