.Background {
    display: block;
    height: calc(100vh - 40px);
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('../../../assets/images/BGimg2.jpg'); */
}

@media only screen and (max-width: 500px) {
    .Background {
        /* This stops the 'bouncing' of the background image 
            on scroll on mobiles  */
        background-size: auto 210vw;
        background-position: center 0;    
    }
}
