/* CSS for 'Website In Development' placeholder */
.Content {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    top: 0;
    left: 0;
}

.InDevelopmentBanner {
    background-color: rgba(10, 10, 10, 0.8);
    z-index: 10;
    height: 3vw;
    width: 90vw;
    position: fixed;
    top: 0;

    /* Text glow effect */
    color: rgba(0, 200, 255, 0.5);
    text-shadow: 3px 3px 5px rgba(0, 200, 255, 0.658);
    padding: 15px;
    border-radius: 5px;
    animation-name: boxGlow;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.InDevelopmentBanner h1 {
    font-size: 2vw;
    margin: 0;
    position: absolute;
    height: auto;
    width: inherit;
}


@keyframes boxGlow {
from {
    color: rgba(0, 200, 255, 0.5);
    text-shadow: none;
}
to {
    color: rgba(0, 200, 255, 0.75);
    text-shadow: 2px 2px 5px rgba(0, 200, 255, 0.3);
}
to {
    color: rgba(0, 200, 255, 1);
    text-shadow: 2px 2px 10px rgba(0, 200, 255, 0.9);
}
}
