/* CSS for 'Website In Development' placeholder */
.Content h1 {
    margin: 10px;
    text-align: center;
    color: rgba(0, 200, 255, 0.5);
    text-shadow: 3px 3px 5px rgba(0, 200, 255, 0.658);
    padding: 15px;
    border-radius: 5px;
    animation-name: boxGlow;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes boxGlow {
from {
    color: rgba(0, 200, 255, 0.5);
    text-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(255, 0, 221, 0);
}
to {
    color: rgba(0, 200, 255, 0.75);
    text-shadow: 2px 2px 5px rgba(0, 200, 255, 0.3);
    box-shadow: 3px 3px 2px rgba(255, 0, 221, 0.25);
    border: 1px solid rgba(255, 0, 221, 0.125);
}
to {
    color: rgba(0, 200, 255, 1);
    text-shadow: 2px 2px 10px rgba(0, 200, 255, 0.9);
    box-shadow: 3px 3px 4px rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(255, 0, 0, 0.25);
}
}
